[Unit]
Description=Node js zwave application
After=network.target

[Service]
ExecStart=/usr/local/bin/node home/pi/Rasperry_Sensor_Hub/exampel_proj/init_zwave.js >> /var/log/node.log 2>&1
WorkingDirectory=/home/pi/Rasperry_Sensor_Hub/exampel_proj
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target