[Unit]
Description=LTPS NodeJS Test Application
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/opt/node-apps/demo0/site/
ExecStart=/usr/bin/node home/pi/Rasperry_Sensor_Hub/example_proj/init_zwave.js

[Install]
WantedBy=multi-user.target
